html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 1.7;
  color: black;
  font-weight: bold;
  font-family: "PTSans", "Arial", sans-serif;
  text-transform: uppercase;
}

footer {
  line-height: normal;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  width: 95%;
  margin-bottom: 45px;
  min-height: 70px;
  background-color: gray;
}

.container {
  width: 1020px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: yellow;
}

.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
  background-color: green;
}

.user-block {
  float:right;
  width: 170px;
  min-height: 70px;
  background-color: red;
}

.breadcrumbs {

  width: 640px;
  margin-bottom: 20px;
  min-height: 20px;
  background-color: red;
}

.index-content {
  background-color: gray;
  margin-bottom: 55px;
}

.index-content-left {
  float: left;
  width: 500px;
  min-height: 700px;
  background-color: blue;
}

.index-content-right {
  float: right;
  width: 500px;
  min-height: 700px;
  background-color: green;
}

.sorting-form {
  float: left;
  width: 200px;
  min-height: 620px;
  background-color: green;
}

.goods {
  float: right;
  width: 700px;
  margin-top: 30px;
  margin-right: 70px;
  margin-bottom: 20px;
  min-height: 600px;
  background-color: blue;
}

.goods-item {
  float: left;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  min-height: 290px;
  background-color: gray;
}

.goods-item:nth-child(3n) {
  margin-right: 0;
}

.page-navigator {
  width: 190px;
  margin-left: 250px;
  margin-bottom: 20px;
  min-height: 45px;
  background-color: red;
}

.main-footer {
  width: 95%;
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: green;
}

.footer-contacts {
  float: left;
  width: 325px;
  margin-right: 60px;
  min-height: 90px;
  background-color: white;
}

.footer-social {
  float: left;
  width: 190px;
  min-height: 90px;
  background-color: white;
}

.footer-copyright {
  float: right;
  width: 220px;
  min-height: 90px;
  background-color: white;
}

figure {
  margin-left: 0;
}


h2 {
  font-size: 10px;
}

.features-name {
  font-size: 30px;
  color: gray;
}

.index-content-title {
  font-size: 30px;
}
