body {
  font-size: 14px;
  line-height: 1.7;
  color: black;
  font-weight: bold;
  font-family: "PTSans", "Arial", sans-serif;
  text-transform: uppercase;
}

.features-name {
  font-size: 30px;
  color: gray;
}

.index-content-title {
  font-size: 30px;
}
